# Cache
Logs/
Cache/
__pycache__/
.git/
.history/
.minecraft/

# Configs
*.json

# Build
dist/

# Other
.vscode/
!.vscode/launch.json
!.vscode/extensions.json
!.vscode/settings.json
temp*
*.jar
