# Cache
Cache/
__pycache__/
.git/
.history/
.minecraft/

Logs/

# Configs
*.json

# Build
*.build/
*.dist/
*.onefile-build/
Claset-Build*

# Other
.vscode/
!.vscode/launch.json
temp*
*.jar
!template.pot
