# Cache
Cache/
__pycache__/
.git/
.history/
.minecraft/

Logs/

# Configs
*.json

# Build
out/
Main.build/
Main.dist/
Main.onefile-build/
Claset-AutoBuild*
Claset-Build*

# Other
.vscode/
!.vscode/launch.json
!Claset/Tools/Tests/DataSource/*
poetry.lock
